/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/*** variables ***/
$main-width: 1120px;

$background-colour-base: #ffffff;
$background-colour-brand-colour-green: #248A83;
$background-colour-form-input: #f4f4f4;

$font-brand-colour-green: #248A83;
$font-brand-colour-purple: #2f1339;
$font-brand-colour-orange: #d99054;
$font-brand-colour-yellow: #f0e4d1;
$font-brand-colour-grey-light: #a1a1a1;
$font-brand-colour-grey-dark: #808080;

$font-family-base: 'merriweather', sans-serif;
$font-family-heading: 'novecento_sans_wide', sans-serif;

$font-base-colour-black: #404040;
$font-base-colour-white: #ffffff;
$font-base-size: 16px;
$font-base-line-height: 1.75rem;
$font-base-spacing: 0.2rem;

$border-solid-thin: 1px solid #e1e1e1;
$border-solid-thick: 5px solid #e1e1e1;
$border-dashed: 1px dashed #c8c8c8;


/*** mixins ***/

/*home page h2 styles*/
@mixin front-page-header-style {
  h2 {
    font-weight: normal;
    font-style: normal;
    font-size: 2.4rem;

    text-align: center;

    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}


/*** top level styles ***/
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: $background-colour-base;

  font-family: $font-family-base;
  font-weight: normal;
  font-style: normal;

  line-height: $font-base-line-height;
  font-size: $font-base-size;

  color: $font-base-colour-black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  font-weight: bold;
  font-style: normal;

  letter-spacing: $font-base-spacing;
  text-transform: uppercase;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

/*** button styles ***/
.black-btn {
  background-color: transparent;
  border: 1px solid $font-base-colour-black;
  color: $font-base-colour-black;
  border-radius: 0;
  font-size: .9rem;
  line-height: 1;
  padding: .75rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;

  box-shadow: none;
  text-shadow: none;

  &:hover {
    background-color: $background-colour-brand-colour-green;
    color: $font-base-colour-white;
    border-color: $background-colour-brand-colour-green;

    box-shadow: none;
    text-shadow: none;
  }

  i {
    padding-right: 0.25rem;
  }
}

/*** widget area styles ***/
.widget-area {
  width: 30%;
  padding-left: 5%;
  padding-top: 3rem;
  padding-bottom: 3rem;

  h2 {
    letter-spacing: 0.10rem;
  }

  p {
    padding: 0;
    margin: 1rem 0 0 0;

    .day-of-week {
      font-weight: bold;
    }

    .address {
      //padding-left: 1rem;
    }
  }

  a {
    text-decoration: none;

    &:link, &:visited {
      color: $background-colour-brand-colour-green;
    }
  }

  i {
    margin-right: 0.5rem;
    width: 20px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}
















































