/*** journal ***/
.inhabitent-journal {
  display: flex;
  justify-content: space-between;

  .journal-content-area {
    width: 70%;
    border-right: 1px solid #e1e1e1;
    padding-right: 5%;
    padding-top: 3rem;
    padding-bottom: 3rem;

    article {
      margin-bottom: 4.5rem;
    }

    .entry-header {
      position: relative;
      line-height: 0;

      img {
        width: 100%;
        height: auto;

        border: 0;
      }

      .entry-title {
        position: absolute;
        top: 0;
        left: 0;

        max-width: 80%;
        font-size: 2.1rem;
        line-height: 1.25;
        background-color: $background-colour-brand-colour-green;

        padding: 0.75rem 1.5rem;
        color: $font-base-colour-white;

        a {
          text-decoration: none;

          &:link, &:visited {
            color: $font-base-colour-white;
          }

          &:hover {
            color: $font-brand-colour-yellow;
          }
        }
      }

      .entry-meta {
        position: absolute;
        bottom:0;
        right:0;

        padding: 1.00005rem 1.5rem;
        background-color: $background-colour-brand-colour-green;
        line-height: 0;

        font-family: $font-family-heading;
        text-transform: uppercase;
        color: $font-base-colour-white;

        a {
          text-decoration: none;

          &:link, &:visited {
            color: $font-base-colour-white;
          }

          &:hover {
            color: $font-brand-colour-yellow;
          }
        }
      }
    }

    .entry-content {
      a {
        font-family: $font-family-heading;
        font-weight: normal;
        font-style: normal;

        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9rem;

        line-height: 1;
        padding: 0.75rem 1.25rem;
        border: 1px solid $font-base-colour-black;

        display: inline-block;

        &:link, &:visited {
          color: $font-base-colour-black;
        }

        &:hover {
          background-color: $background-colour-brand-colour-green;
          color: $font-base-colour-white;
          border: $background-colour-brand-colour-green;
        }
      }
    }

    .cat-links, .tags-links {
      font-family: $font-family-heading;
      text-transform: uppercase;

      a {
        text-decoration: none;

        &:link, &:visited {
          color: $font-brand-colour-green;
        }

        &:hover {
          color: $font-brand-colour-purple;
        }
      }
    }

    .cat-links {
      margin-right: 1.5rem;
    }

    .social-buttons {
      margin-top: 1.75rem;
    }
  }
}

/*** comments area ***/
.comments-area {
  .comments-title {
    margin: 0 0 1rem 0;
    font-size: 2.1rem;
  }

  .comment-list {
    margin: 0;
    padding: 1rem 0 0 0;

    li > article {
      margin-bottom: 1rem;
    }

    .children li {
      border-top: 1px solid #e1e1e1;
      padding: 1rem 0;

      article {
        margin-bottom: 0;
      }
    }

    .children li:last-child {
      border-bottom: 1px solid #e1e1e1;
    }

    .comment-body {
      display: flex;
      flex-flow: row nowrap;

      a {
        color: $font-brand-colour-green;
        text-decoration: none;
      }

      .avatar {
        border-radius: 50%;
      }

      .comment-content {
        padding-left: 1rem;

        .comment-metadata {
          color: $font-brand-colour-grey-dark;
        }

        .fn {
          font-weight: bold;
          font-style: normal;
        }

        p {
          margin: 1rem 0;
        }

        .reply {
          a {
            &:link, &:visited  {
              color: $font-brand-colour-green;
            }

            &:hover {
              color: $font-brand-colour-purple;
            }
          }
        }
      }
    }
  }
}

.comment-reply-title {
  font-size: 1.8rem;
  line-height: 1;
  text-transform: uppercase;

  margin: 1.5rem 0;
  padding: 0;
}

.logged-in-as {
  margin: 0;

  a {
    text-decoration: none;

    &:link, &:visited  {
      color: $font-brand-colour-green;
    }

    &:hover {
      color: $font-brand-colour-purple;
    }
  }
}

/** comments form **/
.comment-form {
  display: flex;
  flex-flow: row wrap;

  label {
    border-radius: 0;

    text-transform: uppercase;
    font-family: $font-family-heading;
    font-weight: normal;
    font-style: normal;
  }

  input[type='text'], input[type='email'], input[type='url'] {
    border-radius: 0;

    font-family: $font-family-base;
    background: $background-colour-form-input;
  }

  textarea {
    border-radius: 0;

    font-family: $font-family-base;
    background: $background-colour-form-input;
  }

  .comment-form-comment {
    width: 100%;
  }

  .comment-form-author, .comment-form-email {
    flex: 1 0 50%;

    label {
      display: block;
    }

    input {
      width: 98%;
    }
  }

  .comment-form-url {
    flex: 1 0 100%;

    input {
      width: 100%;
    }
  }

  .required {
    color: $font-brand-colour-orange;
  }

  .form-submit {
    margin: 0;
  }
}