/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
$main-width: 1120px;

$background-colour-base: #ffffff;
$background-colour-brand-colour-green: #248A83;

$font-brand-colour-green: #248A83;
$font-brand-colour-purple: #2f1339;
$font-brand-colour-orange: #d99054;
$font-brand-colour-yellow: #f0e4d1;
$font-brand-colour-grey-light: #a1a1a1;
$font-brand-colour-grey-dark: #808080;

$font-family-base: 'merriweather', sans-serif;
$font-family-heading: 'novecento_sans_wide', sans-serif;

$font-base-colour-black: #404040;
$font-base-colour-white: #ffffff;
$font-base-size: 16px;
$font-base-line-height: 1.75rem;
$font-base-spacing: 0.2rem;

$border-solid-thin: 1px solid #e1e1e1;
$border-solid-thick: 5px solid #e1e1e1;
$border-dashed: 1px dashed #c8c8c8;

/*** Front page ***/
* {
  //margin: 0;
  //padding: 0;
  box-sizing: border-box;
}


html, body {
  //width: $main-width;
}

body {
  margin: 0 auto;
  background-color: $background-colour-base;

  font-family: $font-family-base;
  font-weight: normal;
  font-style: normal;

  line-height: $font-base-line-height;
  font-size: $font-base-size;

  color: $font-base-colour-black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  font-weight: bold;
  font-style: normal;

  letter-spacing: $font-base-spacing;
  text-transform: uppercase;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

/*header styles*/
.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header {
  border-bottom: $border-solid-thin;
}

.logo {
  height: auto;
  width: 55px;
}

.main-navigation {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .main-menu-navigation-container {
    display: flex;
    justify-content: flex-end;
    font-family: $font-family-heading;
    text-transform: uppercase;

    a:link, a:visited {
      color: $font-brand-colour-green;
    }

    a:hover {
      color: $font-brand-colour-purple;
    }

    li {
      padding-right: 1.5rem;
    }
  }

  fieldset {
    border: 0;
    margin: 0;
    padding:0;

    a {
      display: inline-block;
    }

    a:link, a:visited {
      color: $font-brand-colour-green;
    }

    a:hover {
      color: $font-brand-colour-purple;
    }

    input {
      font-family: $font-family-heading;

      border: 0;

      &:focus{
        outline: none;
      }
    }
  }
}


/*** home page styles ***/
.home-hero {
  display: flex;
  justify-content: center;
  padding: 17.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.25) 100%), url('../../images/home-hero.jpg') top center no-repeat;
  background-size: cover, cover;
}

/** home shop **/
.home-shop {
  h2 {
    font-weight: normal;
    font-style: normal;
    font-size: 2.4rem;

    text-align: center;
  }

  .product-feed-container {
    display: flex;
    justify-content: space-between;
  }

  .product-feed-item {
    text-align: center;

    border: $border-solid-thin;
    border-top: $border-solid-thick;

    margin-right: 1.5rem;

    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &:hover {
      border-color: $font-brand-colour-orange;
    }

    img {
      width: 70px;
      height: 70px;
    }

    a {
      background-color: $background-colour-brand-colour-green;
      font-family: $font-family-heading;

      text-transform: uppercase;
      text-decoration: none;
      font-size: 0.9rem;
      padding: 0.75rem 1.5rem;

      &:hover {
        background-color: darken($background-colour-brand-colour-green, 7.5%);
      }

      &:link, &:visited {
        color: $font-base-colour-white;
      }
    }
  }

  .product-feed-item:last-child {
    margin-right: 0;
  }
}


/** home journal **/
.home-journal {
  h2 {
    font-weight: normal;
    font-style: normal;
    font-size: 2.4rem;

    text-align: center;
  }

  .journal-feed-container {
    display: flex;
    justify-content: space-between;
  }
}

.journal-feed-item {
  flex: 1 1 0;
  border: $border-solid-thin;
  margin-right: 1.5rem;

  .journal-feed-item-info {
    padding: 0.75rem;
    line-height: 1;

    span {
      font-size: .70rem;
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
    }

    h3 {
      color: $font-brand-colour-green;

      margin-top: 0.25rem;
      font-size: 1.2rem;

      &:hover {
        color: $font-base-colour-black;
      }
    }

    .link-button {
      display: inline-block;
      font-size: 0.9rem;

      padding: 0.75rem 1.25rem;
      border: 1px solid $font-base-colour-black;

      font-family: $font-family-heading;
      font-weight: normal;
      font-style: normal;

      text-transform: uppercase;
      color: $font-base-colour-black;

      &:hover {
        border: 0;
        background-color: $font-brand-colour-green;
        color: $font-base-colour-white;
      }
    }
  }
}

.journal-feed-item:last-child {
  margin-right: 0;
}





/** home adventures **/
.home-adventures {
  h2 {
    font-weight: normal;
    font-style: normal;
    font-size: 2.4rem;

    text-align: center;
  }
}

.home-adventures-images {
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  //justify-content: center;

  a:link, a:visited {
    font-family: $font-family-base;
    font-style: normal;
    font-weight: normal;

    color: $font-base-colour-white;
    text-decoration: none;
    text-transform: none;
  }

  a:hover {
    color: $font-brand-colour-yellow;
  }

  .home-adventures-column-left {
    position: relative;

    width: 50%;
    height: 520px;
  }

  .home-adventures-column-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 50%;
    height: 500px;
  }

  .home-adventures-column-left img {
    height: 520px;
  }

  .home-adventures-column-right img {
    height: 250px;
  }



}





.home-adventures-column-left-top {
  width: 100%;
  //padding-top: 50%;
  //padding-bottom: 50%;
  height: 100%;
  //height: 500px;

  //background: linear-gradient(rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.25) 100%), url('../../images/adventure-photos/canoe-girl.jpg') center center no-repeat;
  //background-size: cover, cover;
  border-right: 20px solid $background-colour-base;
}

.home-adventures-column-right-top {
  position: relative;

  width: 100%;
  //padding-top: 25%;
  //padding-bottom: 25%;
  height: 50%;

  //background: linear-gradient(rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.25) 100%), url('../../images/adventure-photos/beach-bonfire.jpg') center center no-repeat;
  //background-size: cover, cover;
  //border-bottom: 20px solid $background-colour;
}

.home-adventures-column-right-bottom-left {
  position: relative;

  width: 50%;
  //padding-top: 25%;
  //padding-bottom: 25%;
  height: 50%;

  //background: linear-gradient(rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.25) 100%), url('../../images/adventure-photos/mountain-hikers.jpg') center center no-repeat;
  //background-size: cover, cover;

  border-top: 20px solid $background-colour-base;
  border-right: 10px solid $background-colour-base;
}

.home-adventures-column-right-bottom-right {
  position: relative;

  width: 50%;
  //padding-top: 25%;
  //padding-bottom: 25%;
  height: 50%;

  //background: linear-gradient(rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.25) 100%), url('../../images/adventure-photos/night-sky.jpg') center center no-repeat;
  //background-size: cover, cover;

  border-top: 20px solid $background-colour-base;
  border-left: 10px solid $background-colour-base;
}



.home-adventures-link-title {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-10%, -10%);

  //color: white;
}

.home-adventures-link-button {
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-10%, -90%);

  //color: white;
}

//Latest Adventures
/*
.latest-adventures {
  line-height: 1.2;

  h2{
    text-align: center;
    text-transform: uppercase;
  }

}
.front-page-h2 {
  text-align: center;
  text-transform: uppercase;
}
.adventures-container {

  display:flex;
  flex-flow: row nowrap;
  //margin: 0 8rem;
  height: 500px;


  .static-read-more {
    border: 1px solid;
    color: white;
    padding: .5rem 1rem;
    text-transform: uppercase;
    margin-left: 1rem;
  }
  p {
    display: block;
    color: white;
    margin-left: 1rem;
    letter-spacing: 2px;
    font-size: 32px;

  }

}
.leftside-adventures {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/adventure-photos/canoe-girl.jpg');
  background-size: cover;
  height: 100%;
  flex: 1 0 50%;
  margin-right: 1rem;
}

.rightside-adventures {
  height: 100%;
  flex: 1 0 46%;
  //flex: 1 0 50%;
  display: flex;
  flex-flow: row wrap;
}

.rightside-top-adventure {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/adventure-photos/beach-bonfire.jpg');
  background-size: cover;
  flex: 1 0 100%;
  max-height: 230px;
  padding-bottom: 1rem;
}

.bottom-left-rightside-adventure {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/adventure-photos/mountain-hikers.jpg');
  background-size: cover;
  flex: 1 0 46%;
  //flex: 1 0 50%;
  margin-right: 1rem;
  max-height: 275px;
  margin-top: 1rem;
}

.bottom-right-rightside-adventure {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/adventure-photos/night-sky.jpg');
  background-size: cover;
  flex: 1 0 50%;
  max-height: 275px;
  margin-top: 1rem;
}

.more-adventures {
  display: inline-block;
  border: 1px solid #e1e1e1;
  background: $font-brand-colour-green;
  color: white;
  margin-left: 8rem;
  text-transform: uppercase;
  padding: .5rem 1rem;

  &:hover {
    background-color: #19625d;
  }
}*/



/*footer styles*/
.site-footer {
  background: url('../../images/dark-wood.png') repeat;
  color: $background-colour-base;
}

.footer-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 3rem;

  h3 {
    font-weight: bold;
    color: $font-brand-colour-orange;
  }
}

.contact-info {
  width: 25%;

  a {
    text-decoration: none;
  }

  a:link, a:visited {
    color: $font-base-colour-white;
  }

  a:hover {
    text-decoration: underline;
  }

  i {
    padding-right: 0.5rem;
  }
}

.business-hours {
  width: 25%;

  span {
    font-weight: bold;
  }
}

.footer-logo {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  width: 50%;

  a {
    height: 50px;
    width: auto;
  }
}

.citation {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: $font-family-heading;
  text-transform: uppercase;
}